@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Minimal global styles */
html, body, #__next {
	height: 100%;
}

body {
	/* Changed font-family to Outfit as per Job Portal */
	font-family: 'Outfit', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Example: ensure container spacing */
.container {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 1rem;
	padding-right: 1rem;
}